@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    background-color: #FFD731;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.category-container {
    margin-top: 20px;
}

.category-title {
    background-color: #E82F33;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
}

.menu-item {
    margin-bottom: 8px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.menu-item.alternate {
    background-color: #f5f5f5;
}

.menu-item:hover {
    scale: 1.01;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .menu-container {
        padding: 10px;
    }

    .category-title {
        font-size: 1.2em;
    }

    .menu-item {
        font-size: 0.9em;
    }
}